# SQLite demo

Uses the test database as found [here](http://www.sqlitetutorial.net/sqlite-sample-database/)

In [ ]:
import sqlite3
db = sqlite3.connect('chinook.db')
cursor = db.cursor()

In [ ]:
for row in cursor.execute('SELECT * FROM tracks WHERE AlbumId = 1'):
    print(row)

In [ ]:
import pandas as pd
query = 'SELECT * FROM tracks WHERE AlbumId = 1'
values = pd.read_sql_query(query, db)
values["UnitPrice"]